<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/bootwatch/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>
    <script src="~/lib/jquery/jquery.min.js" rel="stylesheet"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/jqueryValidate/jquery.validate.min.js" rel="stylesheet"></script>
    <script src="~/lib/jqueryUnoob/jquery.validate.unobtrusive.min.js" rel="stylesheet"></script>
@RenderSection("JavaScript", false)
</body>
</html>
