
@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/shared/_StandartLayout.cshtml";
}

<div class="row">
    <div class="col-md-4">
 <img src="~/img/404.png" class="w-100 img-fluid" />
    </div>
    <div class="col,d8">
 <p class="lead text-danger">Der skete en fejl, administrationen er blevet underrettet.
       Fejlen vil blive rettet snarst.
     
   </p>
    </div>
</div>
