
@{
    ViewData["Title"] = "StatusCode";
    Layout = "~/Views/shared/_StandartLayout.cshtml";
}

<div class="row mt-5">
    <div class="col-md-4">
        <img src="~/img/404.png" class="w-100 img-fluid" />
    
    </div><div class="col-md-8">
   <p class=" display-4  text-danger">Der skete en fejl, administrationen er blevet underrettet.
       Fejlen vil blive rettet snarst.
       Vi beklager denne fejl.
 
   </p>
    </div>

</div>


