@model ReportUpdateDto
@{
    ViewData["Title"] = "GuncelleRapor";
    Layout = "~/Areas/Member/Views/shared/_memberLayout.cshtml";
}
<div class="card text-white bg-primary my-3">
    <div class="card-header">@Model.Assignment.Name</div>
    <div class="card-body">
        <h4 class="card-title">
            Urgency:   @Model.Assignment.Urgency.Definition
        </h4>
        <p class="card-text">@Model.Assignment.Explanation</p>

    </div>
</div>


<form method="post" asp-action="UpdateReport" class="p-3">
    
    <input type="hidden" asp-for="@Model.Id" />
    <div class="form-group">
        <label asp-for="Definition">Beskrivelse</label>
        <span asp-validation-for="Definition" class="text-danger"></span>
        <input asp-for="Definition" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Detail">Detaljer</label>
        <span asp-validation-for="Detail" class="text-danger"></span>
        <textarea asp-for="Detail" class="form-control"></textarea>
    </div>

    <div class="form-group">
        <a asp-action="Index" class="btn btn-warning btn-sm">
            <i class="fas fa-chevron-circle-left mr-2"></i>
            Tilbage
        </a>

        <button type="submit" class="btn btn-info btn-sm">
            <i class="fas fa-check mr2"></i>
            Gem
        </button>

    </div>

</form>

@section javaScript{
<script src="~/lib/jqueryValidate/jquery.validate.min.js"></script>
<script src="~/lib/jqueryUnoob/jquery.validate.unobtrusive.min.js"></script>
}

